body {
    font-family: Arial, sans-serif;
}

.tc-table-study {
    border: 2px solid #73a0af;
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.tc-table-study > caption {
    text-align: left;
    font-weight: bold;
    background-color: #73a0af;
    color: white;
    padding-left: 10px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0;
}

.tc-table-study > thead {
    background-color: #999999;
    text-align: left;
    color: white;
    line-height: 1.3;
}

.tc-table-study > tbody{
    /*background-color: #eafff4;*/
    color: #666666
}

.tc-table-study > tbody > tr {
    line-height: 2.8;
    font-size: 12px;
}

.tc-table-study > tbody > tr > td:first-child {
    width: 30px;    
}

.tc-table-study > tbody > tr > td > span.tc-collapse {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(../Images/minus.png);
    margin: auto;
    cursor: pointer;     
}

.tc-table-study > tbody > tr > td > span.tc-collapse.tc-expand {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(../Images/plus.png);
    margin: auto;
    cursor: pointer;     
}

.tc-table-series {
    width: calc(100% - 30px);
    border: none;
    font-size: 12px;
    margin-left: 30px;
    border-collapse: collapse;
}

.tc-table-series > thead {
    background-color: #e6e6e6;
    text-align: left;
    color: #4d4d4d;
    line-height: 1.5;
}

.tc-table-series > tbody {
    color: #666666
}

.tc-table-series > tbody > tr {
    line-height: 2.6;
    font-size: 12px;
}
.tc-table-series > tbody > tr > td:first-child {
    width: 10px;    
}

span.tc-delete-study {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../Images/close20.png);
    margin: auto;
    cursor: pointer;  
}

span.tc-open-image {
    width: 32px;
    height: 32px;
    display: block;
    background-image: url(../Images/image.png);
    margin: auto;
    cursor: pointer;  
}

span.tc-delete-series {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(../Images/close16.png);
    cursor: pointer;  
    margin: auto;
}

.tc-table-study .tc-action-th {
    text-align: center;
    width: 100px;
}

.tc-table-study input[type=checkbox] {
    display: none;
}

.tc-table-study > tbody > tr:nth-child(4n+2),
.tc-table-study > tbody > tr:nth-child(4n+1) {
    background-color: #eafff4;
}
.tc-table-study > tbody > tr:nth-child(4n+3),
.tc-table-study > tbody > tr:nth-child(4n+4) {
    background-color: #daf5e7;
}
.tc-table-series > tbody > tr:nth-child(2n+1) {
    background-color: white;
}
.tc-table-series > tbody > tr:nth-child(2n+2) {
    background-color: #f9f9f9;
}
